@import "./global.scss";

td{padding:0px;}
button{border:0px;}
.data-label-area-container
{
    height:1002px;
    width:410px;
    position:absolute;
    top:0;right:0;
    background-color: aliceblue;
    
    #dataLabelArea
    {
        height:491px;
        width:100%;
        overflow-y:scroll;
        padding:0px;
        margin-bottom:10px;
        list-style: none;
        thead
        {
            height:30px;
            width:100%;
            .data-label{
                height:45px;
                width:100%;
                overflow:hidden;
                .data-label-show{
                    margin:1px;
                    float:left;
                    height:43px;
                    width:43px;
                    line-height: 43px;
                }
                .data-label-select{
                    margin:1px;
                    float:left;
                    height:43px;
                    width:253px;
                    line-height: 43px;
                }
            }
        }
        tbody{
            width:100%;
            height:446px;
            overflow-y:scroll;
            .data-label{
                display:block;
                height: 45px;
                width:100%;
                margin:0 0 5px 0;
                background-color: '#E0E0E0';
                .checkbox-wrap{
                    height:45px;width:45px;
                    .checkbox{
                        margin:7.5px auto;
                        display:'block';
                        height:30px;width:30px;
                        border-radius:2px;
                    }
                }
                .select-wrap{
                    display:'inline-block';
                    width:155px;
                    height:45px;
                    .select{
                        margin:7.5px auto;
                        height:30px;width:140px;
                        border-radius: 2px;
                    }
                }
                .confirm{
                    width:50px;
                    height:45px;
                    line-height: 45px;
                    font-size: 19.5px;
                    i{
                        display:'block';
                        width:30px;height:30px;
                        margin:7.5px 10px;
                        border-radius: 2px;
                    }
                }
                .trash-can{
                    width:50px;
                    height:45px;
                    line-height: 45px;
                    font-size: 19.5px;
                    i{
                        display:'block';
                        width:30px;height:30px;
                        margin:7.5px 10px;
                        border-radius: 2px;
                    }
                }
            }
        }
    }

    #classListArea
    {
        height:491px;
        width:100%;
        overflow-y:scroll;
        padding:0px;
        margin-bottom:10px;
        list-style: none;
        font-size:15.5px;
        thead
        {
            display:block;
            height:30px;
            width:100%;
            .class-list{
                height:45px;
                width:100%;
                overflow:hidden;
                .class-list-show{
                    padding:1;
                    float:left;
                    height:43px;
                    width:43px;
                    line-height: 43px;
                }
                .class-list-color{
                    padding:1;
                    float:left;
                    height:43px;
                    width:98px;
                    line-height: 43px;
                }
                .class-list-select{
                    padding:1;
                    float:left;
                    height:43px;
                    width:153px;
                    line-height: 43px;
                }
            }
        }
        tbody{
            display:block;
            width:100%;
            height:45px;
            .class-list{
                display:block;
                height: 45px;
                width:100%;
                background-color: '#E0E0E0';
                overflow:hidden;
                .select-color{
                    float:left;
                    display:block;
                    width:100px;height:45px;
                    .color{
                        display:block;
                        width:85px;height:30px;
                        margin:7.5px auto;
                        border-radius: 2px;
                    }
                }
                .class-name-wrap{
                    float:left;
                    display:block;
                    width:155px;
                    height:45px;
                    .class_name{
                        display:block;
                        margin:7.5px auto;
                        padding: 0px;
                        height:30px;width:140px;
                        border:none;
                        border-radius: 2px;
                    }
                }
                .confirm{
                    float:left;
                    display:block;
                    width:50px;
                    height:45px;
                    line-height: 45px;
                    font-size: 19.5px;
                    i{
                        display:'block';
                        width:30px;height:30px;
                        margin:7.5px 10px;
                        border-radius: 2px;
                    }
                }
                
            }
        }
        tfoot{
            display:block;
            height:410px;
            width:400px;
            overflow-y:scroll;
            .class-list{
                display:block;
                width:370px;
                height:45px;
                margin:0 auto;
                .checkbox-wrap{
                    float:left;
                    display:block;
                    height:45px;width:45px;
                    .checkbox{
                        margin:7.5px auto;
                        display:'block';
                        height:30px;width:30px;
                        border-radius:2px;
                    }
                }
                .select-color{
                    float:left;
                    display:block;
                    width:45px;height:45px;
                    .color{
                        display:block;
                        width:30px;height:30px;
                        text-align: center;
                        margin:7.5px auto;
                        border-radius: 2px;
                        i{
                            line-height: 30px;
                            font-size:19.5px;
                            display:block;
                            width:30px;height:30px;
                            color:#FF0000;
                        }
                    }
                }
                .class-name-wrap{
                    float:left;
                    display:block;
                    width:115px;
                    height:45px;
                    span{
                        display: block;
                        width:100px;
                        height:45px;
                        text-align: center;
                        line-height:45px;
                        font-size:14.5px;
                    }
                }
                .confirm{
                    float:left;
                    display:block;
                    width:45px;
                    height:45px;
                    line-height: 45px;
                    font-size: 19.5px;
                    i{
                        display:'block';
                        width:30px;height:30px;
                        margin:7.5px 10px;
                        border-radius: 2px;
                    }
                }
                .trash-can{
                    float:left;
                    display:block;
                    width:45px;
                    height:45px;
                    line-height: 45px;
                    font-size: 19.5px;
                    i{
                        display:'block';
                        width:30px;height:30px;
                        margin:7.5px 10px;
                        border-radius: 2px;
                    }
                }
            }
        }
    }
}